<link rel="stylesheet" href="/css/appointments.css">

<body>
    <div class="column">
        <div class="navbar">    <!-- Navigation bar -->
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="/appointments">Appointments</a></li>
                        <li><a href="/register">New Appointments</a></li>
                        <li><a href="/logout">Log Out</a></li>
                        <!-- Add more navigation links as needed -->
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container column">
            <!-- HTML dynamically loaded here -->
        </div>
    </div>
</body>

<script src="/js/appointment.js"></script>