<link rel="stylesheet" href="/css/register.css">

{{#if message}}
  <script>
    alert('{{message}}');
  </script>
{{/if}}

<!-- Navigation bar -->
<div class="navbar">
    <div class="container">
        <nav>
            <ul>
                <li><a href="/appointments">Appointments</a></li>
                <li><a href="/register">New Appointments</a></li>
                <li><a href="/logout">Log Out</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </div>
</div>

<h2>New Appointment</h2>

<form action="/appointment" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>

    <label for="date_of_birth">D.O.B:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" required>

    <label for="phone_number">Phone #:</label>
    <input type="tel" id="phone_number" name="phone_number" required>

    <label for="date">Date of appointment:</label>
    <input type="date" id="date" name="date" required>

    <label for="time">Time of appointment:</label>
    <input type="time" id="time" name="time" required>

    <label for="reason">Reason for appointment:</label>
    <textarea id="reason" name="reason" required></textarea>

    <button type="submit">Register</button>
</form>

<script src="/js/register.js"></script>