.day {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    width: 100px;
    height: 150px;
    overflow: auto;
}
.appointment {
    cursor: pointer;
    background-color: #f0f0f0;
    margin: 2px;
    padding: 2px;
    display: block;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    width: auto;
}